  /* ******** MOBILE FIRST DEFAULT STYLES (*********) */

body {
  background-color: #00838f;
}

ol > li {
  font-size: 18px;
}

.container-fluid {
  padding: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fffbf2;
}

.well {
  flex: 1 0 90%;
  text-align: center;
  min-width: 90%;
  /* min-height: 260px; */
  background-color: #fffbf2;
  color: #333333;
}

.well h1 {
  margin-top: 0;
  color: #333333;
}

#player2-buttons {
  display: none;

}

.player1-winner, .player2-winner {
  display: none;
}
.rules {
  color: #fffbf2;
}

.rules h2 {
  text-align: center;
}




/* ******** NON-MOBILE STYLES (*********) */
@media only screen and (min-width: 600px) {
  .container-fluid {
    padding: 10px 40px 10px 40px;
  }

  .content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: top;
  }

  .well {
    flex: 1 1 40%;
    min-width: 40%;
    /* width: 40%; */
    min-height: 260px;
    margin: 0 20px 0 20px;
  }

  .rules {
    align-self:center;
    width: 80%;
    margin: 10px auto 10px auto;
  }

  .rules h2 {
    text-align: left;
  }

  .rules ol {
    margin-left: -2rem;
  }
}
